build/

!/src/**/module2/build

/scr/**/module2/build/**

module*.jar

!module2.jar

/.idea/

/.idea_copy/**

!/.idea_copy/workspace.xml

application-local.properties






































